.chat-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 18%;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 8px;
  background-color: #212121;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #2e3030;
  border-radius: 4px;
}
.sidebar,
.sidebarClosed {
  background: var(--card-color);
  transition: all 0.6s ease;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar .chat-list {
  display: block;
}
.sidebarClosed {
  justify-content: center;
  padding: 1rem 0;
  flex-direction: row;
  width: 4%;
}
.sidebarClosed .sidebar-header .logo {
  cursor: ew-resize;
}
.closed div,
.head div {
  padding: 0.2rem 0.4rem;
}
.sidebarClosed .sidebar-header .logo:hover,
.head .sidebarLogo:hover {
  cursor: ew-resize;
  background-color: #2e3030;
  border-radius: 8px;
}

.newChat:hover {
  background-color: #2e3030;
  cursor: pointer;
}

.sidebarClosed .chat-list,
.sidebarClosed .sidebar-header .newChat h3 {
  display: none;
}

.sidebarClosed .sidebar-header .newChat {
  justify-content: center;
}
.sidebar-header {
  display: flex;
  color: var(--muted-color);
  flex-direction: column;
  gap: 1rem;
}
.sidebar-header .newChat {
  display: flex;
  gap: 1rem;
  color: var(--text-color);
  margin: 0.5rem 0;
  align-items: center;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}

.head div i,
.closed div i {
  font-size: 1.8rem;
}

.closed .sidebarLogo,
.sidebarClosed h3 {
  display: none;
}

.head .logo i,
.closed .logo i {
  color: var(--text-color);
}
.head .sidebarLogo i {
  font-size: 1.4rem;
}

.sidebar h3 {
  margin: 0;
}

.chat-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.chat-list li,
.newChat {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  color: var(--text-color);
}
.active-chat {
  background-color: #303030;
}
.chat-list li:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* Main Chat Area */
.chat-main {
  width: 82%;
}
.chat-main,
.fullChatMain {
  display: flex;
  flex-direction: column;
}

.fullChatMain {
  width: 96%;
}

.chat-header {
  padding: 1rem;
  background: var(--card-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-header i {
  font-size: 1.5rem;
  color: var(--muted-color);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  display: none;
}

.chat-header i:hover {
  background-color: #2e3030;
  border-radius: 8px;
}

.chat-messages {
  flex: 1;
  padding: 1rem 12rem;
  overflow-y: auto;
  background: var(--card-color);
}

.chat-messages .noChat {
  display: flex;
  color: var(--muted-color);
  background: linear-gradient(90deg, var(--text-color), var(--muted-color),rgb(255, 216, 143));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
  background-color: #212121;
}
.chat-messages::-webkit-scrollbar-thumb {
  background: #2e3030;
  border-radius: 4px;
}

.fullChatMain .chat-messages {
  padding: 1rem 16rem;
  /* border: 1px solid red; */
}
.message {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  max-width: 80%;
  position: relative;
}

.message p {
  margin: 0;
}

.model {
  background-color: #2e3030;
  width: fit-content;
  padding: 0.8rem;
  color: var(--text-color);
}

.user {
  background-color: var(--primary-color);
  text-align: right;
  margin-left: auto;
  width: fit-content;
  padding: 0.8rem;
  color: var(--text-color);
}

/* Chat Input */
.chat-input {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 12rem;
  background: var(--card-color);
  /* padding: 0 3rem; */
}
.fullChatMain .chat-input {
  padding: 1rem 16rem;
}
.chat-input input {
  flex: 1;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.chat-input button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.logout {
  margin-top: auto;
  padding: 0.7rem 0.4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
}
.logout:hover {
  background-color: #2e3030;
}

.message.bot.typing p {
  display: flex;
  gap: 4px;
}

.dot {
  width: 6px;
  height: 6px;
  background: gray;
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@media (max-width: 768px) {
  .chat-messages {
    padding: 1rem;
    overflow-y: auto;
  }
  
  .sidebar,
  .sidebarClosed {
    width: 0;
    padding: 0;
  }
  .chat-header i {
    display: block;
  }
  .chat-header {
    justify-content: space-between;
  }
  .chat-main {
    width: 100%;
  }
  .chat-input {
    padding: 1rem;
  }
}
